$color-white: white;
$main-block-color: rgb(230, 234, 236);

.container {
    margin: 50px;
    background-color: $main-block-color;
}

@media only screen and (max-width: 600px) {
    .container{
        margin: 20px;
    }
}

